**/.dockerignore
**/.git
**/.gitignore
**/.project
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/out
**/logs
**/docker-compose*
**/Dockerfile*
**/.DS_Store
**/node_modules
**/.env
**/.env.local